@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

nav {
  padding: 3% 7%;
  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.header-form {
  width: 400px;
  height: 55px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-form input:first-child {
  width: 130px;
  height: 18px;
  font-family: 'Mulish';
  font-size: 14px;
  line-height: 1.8;
  color: #333333;
  border: none !important;
  outline: none;
}

.header-form input:nth-child(2) {
  width: 100px;
  height: 18px;
  font-family: 'Mulish';
  font-size: 14px;
  line-height: 1.8;
  color: #bdbdbd;
  border: none;
  outline: none;
}

.header-form button {
  height: 18px;
  width: 18px;
  fill: red;
  border: 0;
  font-size: 100%;
  background-color: #fff;
}

/* 
height: 17.05812644958496px;
width: 17.048126220703125px;
left: 1310px;
top: 51px;
border-radius: 0px; */

/* 
button {
  background: #fff;
  border-radius: 16px;
  fill: red;
  display: inline-block;
  border: none;
}

.button-click {
  background: rgba(235, 87, 87, 0.9);
  border-radius: 16px;
  fill: #fff;
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  width: 126px;
  height: 48px;
}

.form-click {
  display: flex;
  justify-content: space-around;
  width: 1248px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
} */
